<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <bean id="liquibase" class="liquibase.integration.spring.SpringLiquibase">
        <property name="dataSource" ref="basicDataSource" />
        <property name="changeLog" value="liquibase/changelog.xml" />
        <property name="contexts" value="test, production" />
    </bean>

    <bean id="dao" class="org.mockito.Mockito" factory-method="mock">
        <constructor-arg value="org.apache.sling.commons.mime.MimeTypeService" />
    </bean>

    <bean id="filestoreService" class="hu.blackbelt.rdbms.filestore.DefaultFilestoreService"/>
    <bean id="lobHandler" class="org.springframework.jdbc.support.lob.DefaultLobHandler"/>

    <bean id="basicDataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="org.postgresql.Driver" />
        <property name="url" value="jdbc:postgresql://localhost:5432/rdbms-filestore" />
        <property name="username" value="anakin" />
        <property name="password" value="anakin" />
        <property name="initialSize" value="3" />
        <property name="maxActive" value="10" />
    </bean>

</beans>